.center-row, .center-column, .justify-start-row, .justify-end-row, .align-start-row, .align-end-row
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px 10px;
}
.center-column{flex-direction: column;}

.justify-start-row{justify-content: flex-start;}
.justify-end-row{justify-content: flex-end;}
.align-start-row{align-items: flex-start;}
.align-end-row{align-items: flex-end;}

body, p, ul, li, input, textarea, label{
    margin: 0;
    padding: 0;
}