.center-flex, .center-column, .justify-start-flex, .justify-end-flex, .align-start-flex, .align-end-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px 10px;
}
.center-column{flex-direction: column;}

.justify-start-flex{justify-content: flex-start;}
.justify-end-flex{justify-content: flex-end;}
.align-start-flex{align-items: flex-start;}
.align-end-flex{align-items: flex-end;}

body, p, ul, li, input, textarea, label{
    margin: 0;
    padding: 0;
}
